@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
:root{
    --green:#3D4022;
    --creme:#CB8B64;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
/***navbar****/
.navbar-brand {
    color: var(--green);
    margin-right: 5%;
    font-size: 40px;
}
.navbar-brand:hover{
    text-decoration: none;
    color: var(--green);
}
/**Header**/
.header{
    display: flex;
    background: url("../../../../public/image/Trendy\ Petite\ Clothing_Best\ Petite\ Jeans_The\ Petite\ Shop.png") no-repeat center;
    height: 100vh;
    color: #000;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}
.header .max-width{
    width: 100%;
    display: flex;
}
.header .max-width .row{
    margin-right: 0;
}
.header .header-content{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.header .header-content .text-1{
    font-size: 27px;
}
.header .header-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.header .header-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}
.header .header-content .text-3 span{
    color: var(--green);
    font-weight: 500;
}
.header .header-content a {
    display: inline-block;
    width: 200px;
    padding: 15px 0;
    text-align: center;
    background: transparent;
    color: var(--green);
    font-size: 25px;
    margin: 20px 10px;
    font-weight: 400;
    border-radius: 30px;
    border: 2px solid var(--green);
    position: relative;
    overflow: hidden;
    text-decoration: none;
}
.header .header-content a span{
    height: 100%;
    width: 0;
    background: var(--green);
    border-radius: 30px;
    position: absolute;
    left:0;
    bottom:0;
    z-index: -1;
    transition:0.5s;
}
.header .header-content a:hover span{
    width: 100%;
}
.header .header-content a:hover{
    color: #fff;
    border: 2px solid white;
}
/****About     Service        footer*****/
.about, .service, .footer{
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 200px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
section .title::after{
    content: "Who we are?";
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: var(--green);
    padding: 0 5px;
    background: white;
    transform: translateX(-50%);
}
/********About*****/
.about .about-content{
    display: flex;
}
.about .about-content .left{
    width: 45%;
}
.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}
.about .about-content .right{
    width: 55%;
}
.about .about-content .right p{
    text-align: justify;
}
.about .about-content .right a{
    display: inline-block;
    width: 200px;
    padding: 15px 0;
    text-align: center;
    background: transparent;
    color: var(--green);
    font-size: 25px;
    margin: 20px 10px;
    font-weight: 400;
    border-radius: 30px;
    border: 2px solid var(--green);
    position: relative;
    overflow: hidden;
    text-decoration: none;
}
.about .about-content .right a span{
    height: 100%;
    width: 0;
    background: var(--green);
    border-radius: 30px;
    position: absolute;
    left:0;
    bottom:0;
    z-index: -1;
    transition:0.5s;
}
.about .about-content .right a:hover span{
        width: 100%;
}
.about .about-content .right a:hover{
    color: #fff;
    border: 2px solid white;
}
/*****Service*****/
.service-content{
    display: block;
}
.service .title::after{
    content: "What we provide?";
}
.service .livration,.service .offers{
    display: flex;
}
.service .livration .right,.service .offers .left{
    width: 45%;
}
.service .livration .right img,.service .offers .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}
.service .livration .right img{
    margin-left: 20%;
    margin-bottom: 10%;
}
.service .livration .left,.service .offers .right {
    width: 55%;
}

.service .livration .left p,.service .offers .right p,.footer .left p {
    text-align: justify;
}
.typing-2, .typing-3,.typing-4,.typing-5 .footer h3{
    color: var(--creme);
    font-weight: 500;
}
.service .text, .footer .text, .footer h3{
    font-size: 30px;
    margin: 5px 0;
}
/*********footer*****/
.footer{
    padding: 0 10%;
    background-color: #000;
    color: #fff;
}
.footer .footer-content .cont{
    display: flex;
    margin-left: 25%;
}
.footer .text{
    text-align: center;
}
.footer .footer-content .cont-1{
    display: flex;
    margin: 5%;
}
.footer .footer-content .cont-1 img{
    width: 35px;
    height:35px;
    margin: 5px;
}
.footer .footer-content .cont-1 .head{
    font-weight: 500;
}
.footer .footer-content .cont-1 span{
    color: #c5c5c5;
}
.footer .footer-content .cont-1 span a{
    text-decoration: none;
    color: #c5c5c5;
}
.footer .footer-content .cont-1 span a:hover{
    text-decoration: underline;
    cursor: pointer;
}
/*****choose page***/
.choose .choose-content  a {
    padding:15px 15px;
}

/*****client-sign-up*****/
.clientSignUp{
    padding:0;
}
.client-sign-up{
    padding: 10%;
    margin-top: 0;
    padding-top: 5%;
    background-image:linear-gradient(to right bottom ,white,rgba(203, 139, 100,0.8)) ;
}
.client-sign-up form{
    margin-top: 2%;
}
.client-sign-up label{
    color: var(--green);
    font-size: large;
    font-weight: 700;
}
.client-sign-up input, .login input, .contact-msg form input{
    border: none;
    border-bottom:1px #000  solid;
    margin: 5%;
    background: transparent;
}
.client-sign-up a, .login a, .contact-msg a{
    display: inline-block;
    width: 200px;
    padding: 15px 0;
    text-align: center;
    background: transparent;
    color: var(--green);
    font-size: 25px;
    margin: 20px 10px;
    font-weight: 400;
    border-radius: 30px;
    border: 2px solid var(--green);
    position: relative;
    overflow: hidden;
    text-decoration: none;
}
.client-sign-up a span, .login a span, .contact-msg a span{
    height: 100%;
    width: 0;
    background: var(--green);
    border-radius: 30px;
    position: absolute;
    left:0;
    bottom:0;
    z-index: -1;
    transition:0.5s;
}
.client-sign-up a:hover span, .login a:hover span, .contact-msg a:hover span{
        width: 100%;
}
.client-sign-up a:hover, .login a:hover, .contact-msg a:hover{
    color: #fff;
    border: 2px solid white;
}
/*******Login*******/
.login{
    margin-left: 10%;
}
.login input{
    width :80%;
    text-align: center;
}
/***********contact******/
.contact-header, .login-header, .clientSignUp{
    background: url("../../../../public/image/Trendy\ Petite\ Clothing_Best\ Petite\ Jeans_The\ Petite\ Shop.png") no-repeat center;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}
.contact-header .text-c1, .login-header .text-1, .clientSignUp .text-5{
    font-size: 70px;
    padding:20%;
    padding-top: 15%;
    padding-bottom: 0;
    font-weight: bold;
}
.contact-header .text-c2{
    color:var(--green);
}
.contact-header .text-c3{
    padding:25%;
    padding-top: 0%;
}
.contact-content{
    display: flex;
}
.contact-msg, .contact-customer{
    margin:5%
}
.contact-msg form{
    margin:1%;
    padding:0;
}
 .contact-msg form textarea{
    height: 70%;
    border: 1px solid gray;
    margin: 5%;
}
.contact-msg form input, .contact-msg form textarea{
    width: 100%;
    text-align: center;
}
.contact-content .customer-service1,.contact-content .customer-service2{
    display: flex;
    margin: 5%;
}
.contact-content .customer-service1 img,.contact-content .customer-service2 img{
    width: 90px;
    height: 90px;
    border-radius: 50px;
    margin-right: 5px;
}
/******product******/
.product-header{
    font-size: 65px;
    color: #fff;
    font-weight: bold;
}
.product-header p{
    top:55%;
}
.product-header p span{
    color: var(--green);
}
.productpage{
    display: flex;
    margin-left:15%;
}

.page{
    width: 75%;
}
.line{
    display: flex;
    justify-content: center;
}
img{
    width: 200px;
    height: 200px;
}
.cloth{
    width: 400px;
    position: relative;
    margin:10px;
    border: 1px solid rgb(21, 90, 52);
    border-top: none;
    border-right: none;
    padding: 5px;
    margin-left:5%;
}
.cloth span{
    position: absolute;
    width: 70px;
    bottom: 30px;
    right: 30px;
    margin-bottom: 5px;
}
.cloth button{
    width: 85%;
    background-color:var(--green) ;
    color: white;
    border: solid 1px var(--green) ;
    display: inline;
    padding: 2px;
    box-shadow: 3px 3px 3px rgb(92, 91, 91);
    border-radius: 50px;
}
.cloth button:hover{
    color: var(--green);
    background-color:white;
    box-shadow: none;
}
.fav{
    align-items: center;
    padding:5px;
    color: white;
    margin-left:20px;
    background-color: var(--creme);
    border: solid 1px var(--creme) ;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 3px 3px 3px rgb(92, 91, 91);
}
.fav:hover{
    color: var(--creme);
    background-color:white;
    box-shadow: none;
}
/**************colors*************/
.colors{
    position: absolute;
    display: flex;
    right: 2px;
    bottom: 60px;
}
.color-box{
    margin: 2px;
    width: 20px;
    height: 20px;
    box-shadow: gray 2px 2px 5px;
    border-radius: 5px;
    cursor: pointer;
}
.black{
    background-color: rgb(0, 0, 0);
}
.gray{
    background-color: rgb(122, 119, 119);
}
.blue{
    background-color: #71B1E7;
}
.white{
    background-color: #ffffff;
}
.pink{
    background-color: pink;
}
.yellow{
    background-color: rgb(243, 243, 54);
}
.green{
    background-color: rgb(148, 221, 214);
}
.militaire{
    background-color: rgb(50, 73, 40);
}
.orange{
    background-color: rgb(255, 95, 2);
}
.bieg{
    background-color: rgb(248, 194, 122);
}
.greenBlue{
    background-image: linear-gradient(to top left, #494335, #21212B);
}
.brownBlue{
    background-image: linear-gradient(to top right, #4C6075, #35180D);
}
.beigeBlack{
    background-image: linear-gradient(to top right, #B88D6B, black);
}
.blackGray{
    background-image: linear-gradient(to top right, #000, gray);
}
.blueBlack{
    background-image: linear-gradient(to top right, #547C9D, black);
}
.blueciel{
    background-color: #AFBCC5;
}
.blueWhiteBlack{
    background-image: linear-gradient(to top right, #52819D,WHITE, black);
}
.grayBlack{
    background-image: linear-gradient(to top right, #71675E, black);
}
.bluecielWhiteBlack{
    background-image: linear-gradient(to top right, #8A9C9A,white, black);
}
.beigeBlack{
    background-image: linear-gradient(to top right, #F3EADC, black);
}
.biege{
    background-color: rgb(248, 194, 122);
}
/****adjust the web*****/
@media only screen and (max-width: 900px) {

    /******header***/
    .header .header-content{
        position: relative;
        margin-right: 5%;
        margin-top: 5%;
    }
    .header .header-content .text-1{
        margin-top: 15%;
        font-size: 27px;
    }
    .header .header-content .text-2{
        font-size: 27px;
        font-weight: 600;
        margin-left: -3px;
    }
    .header .header-content .text-3{
        font-size: 30px;
        margin: 5px 0;
        
    }
    .header .header-content .text-3 span{
        font-weight: bold;
        border-radius: 50px;
    }
    .header-btn{
        display: block;
    }
    .header .header-content a {
        width: 70%;
        background-color: rgba(203, 139, 100, 0.2);
    }
    /*****home******/
    .about .about-content,.service .livration,.service .offers{
        display: block;
    }
    .about .about-content .left img,.service .livration .right img,.service .offers .left img{
        height: 70%;
        width: 70%;
        object-fit: cover;
        border-radius: 6px;
        margin-left: 75%;
    }
    .about .about-content .right, .service .livration .left,.service .offers .right{
        width: 80%;
        margin: 5%;
    }
}